a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    cursor: pointer;
}

a:hover{
    color: coral;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
}

